<section class="flow">
    <h2 id="experience">experience</h2>

    <ul class="grid" data-layout="50-50">
        {% for job in experience.items %}
            <li>
                <article class="flow">
                    <header class="flow">
                        <h3>
                            <span>{{ job.role }}</span>
                        </h3>

                        <p>
                            <a
                                href="{{ job.website }}"
                                target="_blank"
                                rel="noopener noreferrer">
                                {{ job.location }}
                            </a>
                        </p>
                    </header>

                    <p>{{ job.description }}</p>

                    <footer>
                        <p>
                            <time datetime="{{ job.start }}">{{ helpers.getDateLocaleString(job.start) }}</time>
                            -
                            <time datetime="{{ job.end }}">{{ helpers.getDateLocaleString(job.end) }}</time>
                        </p>
                    </footer>
                </article>
            </li>
        {% endfor %}
    </ul>
</section>
