<fieldset>
    <legend>theme</legend>

    <div class="switcher">
        {% for theme in themes.items %}
            <label>
                <input
                    type="radio"
                    name="theme"
                    value="{{ theme }}"
                    onchange="document.firstElementChild.setAttribute('theme', value)"
                    {% if loop.first %} checked {% endif %}/>
                <span>{{ theme }}</span>
            </label>
        {% endfor %}
    </div>
</fieldset>

<fieldset>
    <legend>css layers</legend>

    <div class="switcher">
        {% for layer in cssLayers.items %}
            <label>
                <input
                    type="checkbox"
                    value="{{ layer }}"
                    onchange="document.getElementById(value).toggleAttribute('disabled')"
                    checked/>
                <span>{{ layer }}</span>
            </label>
        {% endfor %}
    </div>
</fieldset>
