<fieldset
    x-data="{
        setTheme(theme) {
            const html = document.firstElementChild

            html.setAttribute('theme', theme)
        }
    }"
    x-on:change="setTheme($event.target.value)">
    <legend>theme</legend>

    <div class="switcher">
        {% for theme in themes.items %}
            <label>
                <input
                    type="radio"
                    name="theme"
                    value="{{ theme }}"
                    {% if loop.first %} checked {% endif %}/>
                <span>{{ theme }}</span>
            </label>
        {% endfor %}
    </div>
</fieldset>

<fieldset
    x-data="{
        toggleStylesheet(layer) {
            const stylesheet = document.getElementById(layer + '-stylesheet')

            stylesheet.toggleAttribute('disabled')
        }
    }"
    x-on:change="toggleStylesheet($event.target.value)">
    <legend>css layers</legend>

    <div class="switcher">
        {% for layer in cssLayers.items %}
            <label>
                <input
                    type="checkbox"
                    value="{{ layer }}"
                    checked/>
                <span>{{ layer }}</span>
            </label>
        {% endfor %}
    </div>
</fieldset>
